<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189381868477-65o7f6e55v9shdb27qv1rlbhve172u9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189381868477-65o7f6e55v9shdb27qv1rlbhve172u9f</string>
	<key>API_KEY</key>
	<string>AIzaSyB-mDNDGiiEjEu_5s8nQaRV49nK6IKqV_I</string>
	<key>GCM_SENDER_ID</key>
	<string>189381868477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.ProtectMe</string>
	<key>PROJECT_ID</key>
	<string>protectme-56f5d</string>
	<key>STORAGE_BUCKET</key>
	<string>protectme-56f5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189381868477:ios:bb50891249025a0cd530d4</string>
	<key>DATABASE_URL</key>
	<string>https://protectme-56f5d.firebaseio.com</string>
</dict>
</plist>